:root {
    --color-background: #F0F9F7;
    --color-form: #C3E6E0;
    --color-buttons-borders: #39AEA9;
    --color-font: #46484E;
}

body {
    background: var(--color-background) 0 0 no-repeat padding-box;
    opacity: 1;
    padding: 0 190px;
    width: 100vw;
    box-sizing: border-box;
}

.main {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
}

#icon-doctor {
    font-size: 23px;
    color: #39AEA9;
    margin-right: 10px;
}

.main-title {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--color-buttons-borders);
}

.main-profile {
    display: flex;
    align-content: space-between;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    width: 118px;
    height: 240px;
}

.profile-picture {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: no-repeat padding-box;
    margin-bottom: 20%;
}

.profile-button-message {
    width: 118px;
    height: 39px;
    border: 1px solid var(--color-buttons-borders);
    border-radius: 4px;
    background: var(--color-buttons-borders) 0% 0% no-repeat padding-box;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.profile-button-edit {
    width: 118px;
    height: 39px;
    border: 1px solid var(--color-buttons-borders);
    border-radius: 4px;
    background: 0 0 no-repeat padding-box;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--color-buttons-borders);
}

.personal-info {
    display: inline-block;
    width: 56%;
    margin-left: 50px;
}

.user-name {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #5B5151;
    margin: 0 0 20px 0;
}

.inline-text {
    display: flex;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #818588;
    line-height: 0;
}

.inline-element {
    width: 50%;
}

.personal-info-titles {
    display: inline-block;
    width: 100px;
    font-size: 15px;
}

.personal-info-value {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.no-device {
    font-style: italic;
}

.assign-device {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    text-decoration: underline;
    color: #39AEA9;
}

.additional-info {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    margin-top: 10px;
}

.inline-titles-add-info {
    display: flex;
    align-content: space-between;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #818588;
    line-height: 0;
}

.title-docs {
    padding-left: 5%;
}

.horizontal-line-condition {
    display: block;
    border: 3px solid #39AEA9;
    border-radius: 3px;
    margin: 0 0 20px 0;
    width: 10.5%;
}

.horizontal-line-docs {
    display: none;
    border: 3px solid #39AEA9;
    border-radius: 3px;
}

.docs-text {
    display: none;
}

.title-session {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #818588;
    line-height: 0;
    margin-bottom: 30px;
}

.cards-last-session {
    box-sizing: border-box;
    width: 48%;
    margin-left: 75px;
    margin-top: 42px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-sizing: border-box;
    width: 205px;
    height: 205px;
    text-align: center;
    align-content: center;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #818588;
}

.measures {
    font-size: 25px;
}

.unit {
    font-weight: normal;
}

.size-icon {
    font-size: 51px;
    margin: 5px 0;
}

.fa-heart-pulse {
    color: #E66341;
}

.fa-heart {
    color: #FFCD00;
}

.fa-circle-check {
    color: #39AEA9;
}

.sessions {
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    grid-column-gap: 60px;
    justify-content: space-between;
}

.new-session-card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-sizing: border-box;
    width: 340px;
    height: 303px;
    text-align: center;
    align-content: center;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #818588;
    position: relative;
}

.person-picture {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: no-repeat padding-box;
}

.size-message-icon {
    font-size: 22px;
}

.fa-comment-alt {
    color: #39AEA9;
    margin-bottom: 36px;
}

.start-sessionBtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #39AEA9;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.history-and-form {
    margin-top: 92px;
}

.session-history-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 46%;
}

.fa-arrow-up-wide-short {
    color: #39AEA9;
}
