:root {
    --color-background: #F0F9F7;
    --color-form: #C3E6E0;
    --color-main-theme: #39AEA9;
    --color-font: #46484E;
}

body {
    background: var(--color-background) 0 0 no-repeat padding-box;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 160px;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
}

#icon-doctor {
    font-size: 24px;
    color: var(--color-main-theme);
    margin-right: 10px;
}

.main-title {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--color-main-theme);
}

.master-profile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.main-info {
    display: flex;
    justify-content: space-between;
    width: 58%;
    box-sizing: border-box;
}

.avatar-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    height: 240px;
    width:16%;
}

.profile-picture {
    display: inline-block;
    height: 12rem;
    border-radius: 50%;
    background: no-repeat padding-box;
    margin-bottom: 25px;
}

.profile-button {
    height: 40px;
    border: 1px solid var(--color-main-theme);
    border-radius: 4px;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1px;
}

.messageBtn {
    color: #FFFFFF;
    background: var(--color-main-theme) 0% 0% no-repeat padding-box;
}

.editBtn {
    background: 0 0 no-repeat padding-box;
    color: var(--color-main-theme);
}

.personal-info-section {
    box-sizing: border-box;
    margin-left: 8%;
}

.user-name {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #5B5151;
    margin: 0 0 20px 0;
}

.inline-text {
    display: flex;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #818588;
    line-height: 0;
    justify-content: space-between;
}

.personal-info-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.personal-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.personal-info-titles {
    display: inline-block;
    font-size: 15px;
}

.personal-info-value {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.no-device {
    font-style: italic;
}

.assign-device {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: var(--color-main-theme);
}

.additional-info {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    margin-top: 10px;
}

.inline-titles-add-info {
    display: flex;
    align-content: space-between;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #818588;
    line-height: 0;
    box-sizing: border-box;
}

.title-docs {
    padding-left: 5%;
}

.horizontal-line-condition {
    display: block;
    border: 3px solid var(--color-main-theme);
    border-radius: 3px;
    margin: 0 0 20px 0;
    width: 10%;
}

.horizontal-line-docs {
    display: none;
    border: 3px solid var(--color-main-theme);
    border-radius: 3px;
}

.condition-text {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    color:#818588;
    padding-left: 2%;
}

.docs-text {
    display: none;
}

.title-session {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #818588;
    line-height: 0;
    margin-bottom: 30px;
    margin-top: 62px;
}

.cards-last-session {
    width: 38%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-sizing: border-box;
    width: 32%;
    height: 20rem;
    text-align: center;
    align-content: center;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #818588;
}

.measures {
    font-size: 25px;
}

.unit {
    font-weight: normal;
}

.size-icon {
    font-size: 51px;
    margin: 5px 0;
}

.fa-heart-pulse {
    color: #E66341;
}

.fa-heart {
    color: #FFCD00;
}

.fa-circle-check {
    color: var(--color-main-theme);
}

.sessions {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-column-gap: 60px;
    justify-content: space-between;
}

.new-session-card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-sizing: border-box;
    height: 303px;
    text-align: center;
    align-content: center;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #818588;
    position: relative;
}

.dots {
    font-size: 17px;
    color: var(--color-main-theme);
    position: absolute;
    top: 22px;
    right: 22px;
}

.edit-delete-session {
    background: white;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #818588;
    width: 112px;
    height: 95px;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 3px 6px #DDDCD7;
    padding-left: 24px;
    position: absolute;
    top: 22px;
    left: 175px;
}

.dots:hover + .edit-delete-session{
    display: flex;
}

.edit-delete-session:hover, .edit-delete-session:focus {
    display:flex;
}

.edit:hover, .delete:hover {
    color: var(--color-main-theme);
}

.person-picture {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: no-repeat padding-box;
    background-color: white;
    border: 1px solid #EDEFF8;
}

.circle {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: no-repeat padding-box #C3E6E0;
    border: 1px solid #EDEFF8;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 21px;
    color: var(--color-main-theme);
    align-content: center;
}

.pictures-overlap-container {
    position: relative;
    height: 120px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
}

.img_stack-top {
    z-index: 3;
    left: 38px;
}

.img_stack-middle {
    z-index: 2;
    left: 138px;
}

.img_stack-bottom {
    z-index: 1;
    left: 226px;
}

.size-message-icon {
    font-size: 22px;
}

.fa-comment-alt {
    color: var(--color-main-theme);
    margin-bottom: 36px;
}

.start-sessionBtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--color-main-theme);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.history-and-form-container {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 836px;
}

.title-history {
    margin: 0;
}

.session-history-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 45px;
}

.fa-arrow-up-wide-short {
    color: var(--color-main-theme);
}

.history-section {
    width: 47%;
}


.session-history{
    list-style: none;
    padding: 0;
    margin: 0;
}

.session-history :not(:last-child) {
    margin-bottom: 20px;
}

.exercise-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 22px;
    height: 68px;

}

.title-exercise {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: var(--color-main-theme);
}

.watch-exerciseBtn {
    background: #EFF8F6 0 0 no-repeat padding-box;
    border-style: hidden;
    border-radius: 21px;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: var(--color-main-theme);
    width: 26%;
    height: 42px;
}

.play-icon {
    margin-right: 20px;
}

.form {
    width: 40%;
    background-color: var(--color-form);
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    color: #818588;
    padding: 8rem 4rem 8rem 7rem;
    margin-top: 55px;
}

.labelStar{
    margin-right: 8.2%;
}

.label {
    margin-right: 10%;
}

.star {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    color: #E66341;
}

.form-input {
    width: 70%;
    height: 4rem;
    border: 2px solid #E5F5F1;
    border-radius: 4px;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    color: #CECFD0;
    padding-left: 4%;
}

.form-input:focus {
    outline: none;
    border-color: var(--color-main-theme);
    color: #4D4F5C;
}

.helper-txt {
    margin-top: 5px;
    margin-left: 17%;
    margin-bottom: 50px;
}

.label-red {
    color: #E66341;
}

.form-input-red {
    width: 70%;
    height: 40px;
    border: 2px solid #E66341;
    border-radius: 4px;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    outline: none;
    padding-left: 4%;
}

@media screen and (max-width: 960px) {
    .main-info {
        width: 100%;
    }

    .master-profile {
        flex-direction: column;
        width: 100%;
    }

    .cards-last-session {
        width: 100%;
        float: left;
    }

    .horizontal-line-condition {
        width: 13%;
    }

    .sessions {
        grid-template-columns: repeat(2, 1fr);
    }

    .history-and-form-container {
        flex-direction: column;
        width: 100%;
    }

    .history-section {
        width: 100%;
    }

    .form {
        width: 85%;
    }
}