:root {
    --color-background: #F0F9F7;
    --color-form: #C3E6E0;
    --color-buttons-borders: #39AEA9;
    --color-font: #46484E;
}

body {
    background: var(--color-background) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 200px;
    width: 1920px;
    height: 2277px;
}

.main {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 110px;
}

#icon-doctor{
    font-size: 23px;
    color: #39AEA9;
}
.main-title {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--color-buttons-borders);
}

.main-profile {
    display: flex;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    width: 118px;
    height: 240px;
    margin-top: 20px;
}

.profile-picture {
    display: inline-block;
    width: 118px;
    height: 119px;
    border-radius: 50%;
    background-size: cover;
    background: no-repeat padding-box;
    opacity: 1;
    margin-bottom: 20px;
}

.profile-buttons {
    width: 118px;
    height: 39px;
    border: 1px solid var(--color-buttons-borders);
    border-radius: 4px;
    opacity: 1;
}

#message {
    background: var(--color-buttons-borders) 0% 0% no-repeat padding-box;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.94px;
    color: #FFFFFF;
    opacity: 1;
}

#editButton {
    background: 0% 0% no-repeat padding-box;
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.94px;
    color: var(--color-buttons-borders);
    opacity: 1;
}

.inline-text {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;

}

.additional-info {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    margin-top: 35px;
    margin-left: 50px;
    display: flex;
    justify-content: start;
    gap: 27px;
}

.docs-text {
    display: none;
}
h2 {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    color: var(--color-font);
    margin-left: 50px;
}
